.input-btn {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E7E7E7;
    border-radius: 40px;
    padding: 10px;
    width: 100%; 
    margin-bottom: 20px;     
}
input {    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    border: 1px solid white;
    width: 550px;
    outline: none;
    background-color: white;  
}
