button {
    width: 435px;
    height: 65px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 18px auto;    
}

.black {
    background-color: black;
    color: white;
    margin-top: 70px;
}

.white {
    background-color: white;
    color: black;    
}