.date {
    color: #6C757D;
    width: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
}
.article {
    text-align: center;
}

.article-card {
    height: 75px;
    font-size: 18px;
    line-height: 25px;
    color: #495057;
    
}

.text-article {
    height: 240px;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
    width: 860px;
    margin-left: 100px;
}

.article__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}
.article__wrapper span {
    margin-left: 50px;
}
.article__wrapper p {
    width: 35px;

}
.author-article {   
        display: flex;
        flex-direction: row;
        gap: 17px;
        margin-left: 380px;    
}
