.card {
    width: 380px;
    color: black;
    position: relative;      
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.price {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 25px;
}

.old-price {
    font-size: 12px;
    line-height: 15px;
    text-decoration:line-through;
    margin-bottom: 25px;
    color: #BDBDBD;
}

.heart-sale {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.allPrice {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



