.card {
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 15px;
    height: 630px;
    position: relative;
}

.card>img {
    width: 310px;
    height: max-content;
    margin-bottom: 20px;
}

.category {
    position: absolute;
    left: 200px;
    top: 5px;
    height: 22px;
    background: rgba(255, 255, 255, 0.15);
    padding: 3px;
    border-radius: 8px;
    text-transform: uppercase;
}

.date {
    color: #6C757D;
    width: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
}

.title-card {
    font-size: 18px;
    line-height: 25px;
    color: #495057;    
}

a {
    text-decoration: none;
}
.text-card {
    height: 200px;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
    margin-top: 10px;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.author>img {
    border-radius: 50%;
}

.name-position {
    display: flex;
    flex-direction: column;
}

.name {
    width: 700;
}

.position {
    color: #6C757D;
    width: 400;
}