footer {
    margin-top: 300px;
    height: 400px;
    color: white;
    background-color: #212529;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts, .about-footer,.headquarter {
    display: flex;
    flex-direction: column;
    list-style-type: none;    
    gap: 15px;
}
