.for-photo {
    background-image: url("/public/photo.png");
    width: 800px;
    color: white;
    background-repeat: no-repeat;
}

.text-photo {
    margin-left: 100px;
}

.up-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-top: 100px;    
}
.middle-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin-top: 270px;    
}
.down-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 300px;    
}
.last-text {
    font-weight: 500;
    size: 16px;
    line-height: 24px;    
}