body {
    font-family: 'Poppins', sans-serif;
}
.blog {
    margin-left: 100px;
}
h1 {
    width: 700;
    font-size: 36px;
    line-height: 46.08px;
    margin-left: 50px;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 40px;
    margin-left: 50px;
}
.menu div:hover {
    color: #D4A373;
    transform: scale(1.1);
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
    gap: 25px;
    row-gap: 70px;    
}