* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
    background-color: #ECF2FD;
    display: flex;
    justify-content: center;
    height: 700px;
}

.note {
    margin-top: 20px;
    width: 80%;
    background-color: white;
    height: fit-content;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

.addNewTask {
    margin-bottom: 20px;
}

.task button,
.input-btn button,
.completed button {
    border: 1px solid #3056D3;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: #3056D3;
    height: 24px;
    width: 24px;
}